// Rename this file to "paket.dependencies" to enable support for loading plugins from NuGet.
// See https://fsprojects.github.io/Paket/dependencies-file.html for more information.

strategy: min

source https://api.nuget.org/v3/index.json

// ---- Add plugins below this line ----
nuget NWN.Anvil.TestRunner 8193.37.0-dev.6.rd258f8df
